<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rock, paper, scissors</title>
  <link rel="stylesheet" href="/rps/style.css">
</head>
<body>
  <div id="container">
    <div id="images">
      <img src="/rps//assets/rock.png" class="image" id="rock">
      <img src="/rps//assets/scissors.png" class="image" id="scissors">
      <img src="/rps//assets/scroll.png" class="image" id="scroll">
    </div>
  </div>
  <script src="/rps/script.js"></script>
</body>
</html>