body{
    background: #0f0f0f;
    color: white;
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
}

#wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 96vh;

}

#points{
    position: absolute;
    z-index: -1;
    opacity: 0.2;
    font-size: 270px;
}

#key{
    position: absolute;
    z-index: 99;
    font-size: 100px;
}

.yellow{
    color: #fecb06;
}

footer{
    height: 4vh;
    width: 100%;
    text-align: center;
}